.gradle/
.idea/
.vscode/
**/build/
**/.gradle/
**/*.iml
**/local.properties
**/server_state.json
**/guardianstar.db
**/guardianstar.db-shm
**/guardianstar.db-wal
**/__pycache__/
**/*.pyc
*.hprof
desktop.ini
*build_log.txt
